doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/event.js')
    script(src='/javascripts/tablesort.min.js')
    script(src='/javascripts/tablesort.number.js')
    script(src='/javascripts/tablesort.date.js')
    script(src='/javascripts/d3.min.js')
    script(src='/javascripts/jquery-latest.min.js')
  body
    block content
